.header {
    background-color: #1a1a1a;

    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    font-size: 15px;
    
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    z-index: 100;
}

.header div {
    color: white;

    height: inherit - 1px; /* -1px은 선 두께를 빼준것*/

    display: flex;
    align-items: center;
}
.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: inherit;
    width: 6%;
}

.header-nav {
    width: 85%;
    padding: 0px 20px;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li {
    margin-left: 20px;
}

.header-nav ul li:hover {
    color: lawngreen;
}

.header-menu {
    width: 9%;
    padding-right: 20px;
    
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}